body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  position: relative;
  background: #296ca8;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 10px;
  font-family: Roboto, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
}

h2 {
  margin: 0;
}

.filterContent {
  margin: 20px 0;
  width: 100%;
}

.filter {
  width: 100%;
  padding: 5px 12px;
  outline: none;
  font: 1rem Roboto;
}

.container .post {
  position: relative;
  background: #4992d3;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0 auto 40px auto;
  width: 100%;
  display: flex;
}

.container .post:not(:first-child) {
  margin-top: 40px;
}

.container .post .number {
  position: absolute;
  top: -15px;
  left: -7px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #296ca8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
}

.container .post .postInfo {
  margin-left: 20px;
}

.container .post .postTitle {
  margin: 0;
}

.container .post .postBody {
  margin: 15px 0 0 0;
  line-height: 1.3;
}

.loader {
  position: fixed;
  bottom: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  display: inline-block;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}